<!-- @format -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log Analyzer</title>
    <style>
      @import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
      * {
        box-sizing: border-box;
        font-family: "Poppins", sans-serif;
      }

      body {
        background: #14273d;
        font-weight: 700;
        color: #fff;
        font-size: 22px;
        font-family: "be vietnam";
        overflow: hidden;
      }

      .container {
        display: flex;
        justify-content: center;
        margin-top: 30px;
      }

      .container-content h3 {
        margin-top: 35px;
        color: #4475e2;
      }

      .container-content hr {
        width: 130px;
        margin-left: 0px;
        margin-top: 30px;
      }

      .container-content .btn {
        border: none;
        outline: none;
        padding: 15px 45px;
        margin-top: 30px;
        background: transparent;
        border-radius: 50px;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        transition: transform 0.3s;
      }

      .container-content .btn:hover {
        transform: translateY(5px);
      }

      .container-content .btn1 {
        background: #17375b;
      }
    </style>
    <link
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container">
      <div class="container-content">
        <h1>WELCOME</h1>
        <h3>To Log Analyzer</h3>
        <hr />
        <p>By Team 5</p>
        <a href="filePicker"> <button class="btn btn1">Dump Logs</button></a>
      </div>
    </div>
  </body>
</html>
